<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Resume Analyzer</title>
    <link rel="stylesheet" , href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="container">
        <h2>AI Resume Analyzer</h2>
        <p>Upload your Resume (PDF) and get instant AI-Powered feedback</p>

        <form action="/analyze" method="POST" enctype="multipart/form-data">
            <input type="file" name="resume" accept=".PDF" required>
            <button type="submit">Analyze</button>

        </form>
    </div>


</body>

</html>